name: CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  verify:
    name: Verify Files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - name: Install Packages
        run: yarn install --ignore-scripts
      - name: Check Formatting
        run: yarn prettier
      - name: Typecheck Files
        run: yarn tsc --noEmit
      - name: Run tests
        run: yarn test
